<div class="question-index-msg">
<a class="question-show" href="/questions/<%= question.id %>" ></a>
  <div class="question-index-avatar-title-tags">
    <div class="question-index-avatar">
      <%= cl_image_tag question.user.photo, crop: :fill, class: "avatar-question-card" %>
      <p><%= question.user.firstname %></p>
    </div>
    <div class="question-index-tags">
      <div id='tag_cloud'>
        <% tag_cloud question.tag_counts, %w{s m l} do |tag| %>
          <%= link_to tag.name, tag_path(tag.name)%>
        <% end %>
      </div>
    </div>
    <div class="question-index-title">
      <h4><%= question.title.capitalize %></h4>
    </div>
  </div>
  <div class="question-index-best-answer">
    <div class="question-index-announce-best-answer">
      <h4>Meilleure réponse</h4>
    </div>
    <div class="question-index-answer">
      <p>
        <% answers_sorted = question.answers.sort_by {|answer| -answer.get_upvotes.size} %>
        <% if answers_sorted.blank? %>
        <% else %>
          <%= answers_sorted.first.body  %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="question-index-indicators">
    <div class="question-index-validation">
      <% if question.useful? %>
        <h5>SUPER QUESTION &nbsp;<i class="fas fa-rocket big-blue-icon"></i></h5>
      <% end %>
    </div>
    <div class="question-index-resolue">
      <%= render "questions/resolue", question: question %>
    </div>
  </div>
</div>
