<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="title">
        <h1>Questions & Réponses</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="index-search-bar">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-search">
              <span class="icon"><i class="fa fa-search"></i></span>
              <%= form_tag(questions_path, method: :get) do %>
                <%= text_field_tag :query, params[:query], class: 'form-control typeahead', id: "question_search", placeholder:"Recherche ta question" %>
                <%= submit_tag 'Shine' , class: 'search-btn shake-slow'  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="filters">
        <h3>Filtres </h3>
          <ul class="list-inline">
            <li>
              <%= link_to "Top Questions", user_home_path, :class => "btn-tertiary" %>
            </li>
            <li>
              <%= link_to "Proposer des réponses", user_home_path, :class => "btn-tertiary" %>
            </li>
            <li>
              <%= link_to "Mes questions", my_question_path, :class => "btn-tertiary" %>
            </li>
          </ul>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="ask-new-question">
        <%= link_to new_question_path do %>
          <li class="btn-big">Pose une nouvelle question</li>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="results">
      <% if @questions.blank? %>

        <div class="no-answer">
          <i class="fas fa-question-circle big-pink-icon"></i>
          <h3>Oups, aucune question en rapport avec "<%= params[:query] %>" ne semble exister</h3>
        </div>

      <% else %>
        <% @questions.each do |question| %>
            <div class="question-index-msg">
            <a class="question-show" href="/questions/<%= question.id %>" ></a>
              <div class="question-index-avatar-title-tags">
                <div class="question-index-avatar">
                  <%= cl_image_tag question.user.photo, crop: :fill, class: "avatar-question-card" %>
                  <p><%= question.user.firstname %></p>
                </div>
                <div class="question-index-title">
                  <h4><%= question.title.capitalize %></h4>
                </div>
                <div class="question-index-tags">
                  <div id='tag_cloud'>
                    <% tag_cloud question.tag_counts, %w{s m l} do |tag| %>
                      <%= link_to tag.name, tag_path(tag.name)%>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="question-index-best-answer">
                <div class="question-index-announce-best-answer">
                  <h4>Meilleure réponse</h4>
                </div>
                <div class="question-index-answer">
                  <p><%=  question.answers.the_top_answer %></p>
                </div>
              </div>
              <div class="question-index-indicators">
                <div class="question-index-validation">
                  <% if question.useful? %>
                    <h5>SUPER QUESTION &nbsp;<i class="fas fa-rocket big-blue-icon"></i></h5>
                  <% end %>
                </div>
                <div class="question-index-resolue">
                  <%= render "questions/resolue", question: question %>
                </div>
              </div>
            </div>

        <% end %>

        <%= paginate @questions %>
      <% end %>
    </div>
  </div>
</div>

