<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div class="title">
        <h1>Questions sur Shinier </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="results">
      <div class="col-xs-12">
        <div class="question-message">
          <div class="question-content">
            <div class="question-short">
              <div class="question-title">
                <% top_answer = @question.answers.sort_by do |answer| %>
                  <% -answer.get_upvotes.size %>
                <% end %>
                <h4>Question : <%= top_answer.first.question.title %></h4>
                <div class="validation">
                <% if top_answer.first.question.useful? %>
                  <p>Validé par vous</p><i class="fas fa-check-circle"></i>
                <% else %>
                <!-- mettre un truc sympa pour montrer que cest useful, genre une image -->
                   <p>Rejoins la conversation &nbsp;<i class="fas fa-rocket"></i></p>
                <% end %>
                </div>
              </div>
              <% if policy(Answer).create? %>
                <%= link_to "Proposer une autre réponse", new_question_answer_path(@question) %>
              <% end %>
            </div>

            <div class="answers">
                <div class="upvotes">
                  <div><i class="fas fa-hands-helping"></i></div>
                  <div class="counter"><%= top_answer.first.get_upvotes.size %></div>
                  <h4> <% if current_user == top_answer.first.question.user %>
                    <% if top_answer.first.question.answered == false %>
                      <%= link_to 'Resolu?', question_toggle_path(@question) %>
                    <% else %>
                      <%= "Resolu!" %>
                    <% end %>
                  <% else %>
                    <% if top_answer.first.question.answered == false %>
                      Pas encore resolue
                    <% else %>
                      <%= "Resolu!" %>
                    <% end %>
                  <% end %></h4>
                </div>
                <div class="top-answer">
                  <p>Meilleure réponse par <%= top_answer.first.user.firstname %> le <%= top_answer.first.created_at.strftime("%d/%m/%Y") %></p>
                  <p><%= top_answer.first.body %></p>
                </div>
            </div>

            <% if current_user == @question.user %>
              <div class="link">
                <%= link_to question_toggle_path(@question) do %>
                  <i class="fas fa-plus-circle"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="answers-container">
          <%= paginate @answers %>
          <% @answers.each do |answer| %>
            <%= render "answers/show", answer: answer %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'answers/form', question: @question, answer: @answer %>
</div>
