<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div class="title">
        <h1>Questions sur Shinier </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="results">
      <div class="col-xs-12">
        <div class="question-message">
          <div class="question-content">
            <div class="question-short">
              <div class="question-title">
                <% top_answer = @question.answers.sort_by do |answer| %>
                  <% -answer.get_upvotes.size %>
                <% end %>
                <h4>Question : <%= top_answer.first.question.title %></h4>
                <% if top_answer.first.question.useful? %>
                  <%= "USEFUL" %>
                <% else %>
                <!-- mettre un truc sympa pour montrer que cest useful, genre une image -->
                  <%= "NOT USEFUL" %>
                <% end %>
              </div>
              <% if current_user == top_answer.first.question.user %>
                <% if top_answer.first.question.answered == false %>
                  <%= link_to 'Is it solved?', question_toggle_path(@question) %>
                <% else %>
                  <%= "Solved" %>
                <% end %>
              <% end %>
              <% if policy(Answer).create? %>
                <%= link_to "Proposer une autre réponse", new_question_answer_path(@question) %>
              <% end %>
            </div>

            <div class="answers">
                <div class="upvotes">
                  <div class="arrow"></div>
                  <div class="counter"><%= top_answer.first.get_upvotes.size %></div>
                </div>
                <div class="top-answer">
                  <p>Meilleure réponse par <%= top_answer.first.user.firstname %> le <%= top_answer.first.created_at.strftime("%d/%m/%Y") %></p>
                  <p><%= top_answer.first.body %></p>
                </div>
            </div>

            <% if current_user == @question.user %>
              <div class="link">
                <%= link_to question_toggle_path(@question) do %>
                  <i class="fas fa-plus-circle"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <% @question.answers.each do |answer| %>
          <div class="question-message">
            <div class="question-content">
              <div class="question-short">
                <div class="question-title">
                  <div class="answers">
                     <div class="upvotes">
                        <div class="arrow"></div>
                        <div class="counter">
                          <%= answer.get_upvotes.size %>
                          <%= link_to "Useful", like_answer_path(answer), method: :put %>
                          <%= link_to "Report", dislike_answer_path(answer), method: :put %>
                        </div>
                      </div>
                      <div class="top-answer">
                        <p>Repondu par <%= answer.user.firstname %> le <%= answer.created_at.strftime("%d/%m/%Y") %></p>
                        <p><%= answer.body %></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
<% if policy(Answer).create? %>
  <%= link_to "answer", new_question_answer_path(@question) %>
<% end %>
</div>
