<div class="container">
  <div class="two-boxes personal">
    <div class="big-box">
      <i class="far fa-edit edit-tag"></i>
      <div class="big-box-add">
        <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill, class: "card-avatar"%>
      </div>
      <div class="big-box-details">
        <h4>Hello <%= current_user.firstname %></h4>
        <p>Geographie : <%= current_user.location %></p>
      </div>
    </div>

    <div class="small-box">
      <h4>Tes notifications</h4>
      <p>Tes questions en attente : </p>
      <p>Tes réponses : </p>
      <p>Ton status : <%= current_user.status_in_community %>
        <i class="fas fa-bug <%= current_user.status_in_community %>"></i>
      </p>
    </div>
  </div>

  <div class="two-boxes personal">
    <div class="small-box">
      <h4>Infos à rappeler</h4>
      <p>Ton numéro de sécurité sociale : <%= current_user.secu_nb %> </p>
      <p>Ton numéro de mutuelle : <%= current_user.mutuelle_nb %></p>
      <p>Ton médecin traintant : <%= current_user.my_doctor %></p>
    </div>
    <div class="big-box">
      <i class="far fa-edit edit-tag"></i>
      <div class="big-box-add">
        <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill, class: "card-avatar"%>
      </div>
      <div class="big-box-details">
        <h4>Hello <%= current_user.firstname %></h4>
        <p>Geographie : <%= current_user.location %></p>
      </div>
    </div>

  </div>



</div>






<h2>Welcome <%= current_user.firstname %></h2>
<h4>Here you can see all your informations.</h4>
<ul>
  <% @user.attributes.each do |key, value| %>
    <li><%= key %> : <%= value %></li>
  <% end %>
</ul>
