 <div class="question-message">
    <div class="question-content">
      <!-- <div class="question-short"> -->
        <div class="question-title">
          <div class="answers">
             <div class="upvotes" data-answer-id="<%= answer.id %>">
                <div class="arrow"></div>
                <div class="counter">
                <%= render "answers/counter", answer: answer %>
                </div>
              </div>
              <div class="top-answer">
                <p>Repondu par <%= answer.user.firstname %> le <%= answer.created_at.strftime("%d/%m/%Y") %></p>
                <p><%= answer.body %></p>
                <h6><%= link_to "Cette réponse te paraît inappropriée?", dislike_answer_path(answer), method: :put %></h6>
              </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
