<div class="col-xs-10 col-xs-offset-1">
  <div class="question-big-box">
    <div class="question-msg-show">
      <div class="answer-details-upvotes">
        <div class="upvotes" data-answer-id="<%= answer.id %>" >
          <div class="counter">
            <%= render "answers/counter", answer: answer %>
          </div>
        </div>
        <div class="answer-details">
        <% if answer.top_answer %>
          <div class="top">
            <h5>TOP RÉPONSE</h5>
          </div>
        <% end %>
          <div class="answer-msg-show-body">
            <p><%= answer.body %></p>
          </div>
          <div class="question-msg-show-date">
            <p>Le <%= answer.created_at.strftime("%d/%m/%Y") %></p>
          </div>
          <div class="question-msg-show-report">
            <h6><%= link_to "Cette réponse te paraît inappropriée?", dislike_answer_path(answer), method: :put %></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="question-pic-name">
      <%= cl_image_tag answer.user.photo, crop: :fill, class: "avatar-question-card" %>
      <p><%= answer.user.firstname %></p>
    </div>
  </div>
</div>


