<div class="banner-home">
  <div class="video-container">
    <div class="video-with-filter">
      <%= video_tag("video", autoplay: true, muted: true, loop: true) %>
      <div class="video-filter"></div>
    </div>
  </div>
  <div class="banner-content">
    <h1>Shinier</h1>
    <h2>Ne reste plus dans l'ombre</h2>
    <%= link_to "Rejoins-nous !", new_user_session_path, :class => "btn-big" %>
  </div>
</div>

      <div class="jumbotron jumbotron-fluid bg-primary text-secondary font-weight__500 hero mb-0">
        <!-- Features Grid -->
        <div class="section feature-grid bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-10 mx-auto text-center">
                        <h2 class="font-weight__700">Lorem ipsum dolor</h2>
                        <p class="lead text-dark-gray">Praesent mollis, massa in auctor molestie, magna lorem semper mauris, a venenatis turpis purus vel metus.</p>
                    </div>
                </div>
                <!-- Enpty Space -->
                <div class="md-space"></div>
                <!--/ End Empty Space -->
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="row equal-height justify-content-center">
                            <div class="col-10 col-lg-4">
                                <div class="feature-grid box box-shadow box-shadow__hover bg-light-primary row">
                                    <div class="mt-auto col">
                                        <div class="row align-items-center">
                                            <div class="col-12 col-md-4 col-lg-12">

                                                <img src="assets/images/#" alt="product image" class="img-fluid">
                                                <!-- Enpty Space -->
                                                <div class="md-space"></div>
                                                <!--/ End Empty Space -->
                                            </div>
                                            <div class="col-12 col-md-8 col-lg-12 text-center text-md-left text-lg-center">
                                                <h3 class="font-weight__500">
                          Lorem ipsum
                        </h3>
                                                <p>
                                                    In maximus libero sed leo vulputate pretium. In sit amet nisi ligula
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 col-lg-4">
                                <div class="feature-grid box box-shadow box-shadow__hover bg-light-primary row">
                                    <div class="mt-auto col">
                                        <div class="row align-items-center">
                                            <div class="col-12 col-md-4 col-lg-12">
                                                <img src="assets/images/#" alt="product image" class="img-fluid">
                                                <!-- Enpty Space -->
                                                <div class="md-space"></div>
                                                <!--/ End Empty Space -->
                                            </div>
                                            <div class="col-12 col-md-8 col-lg-12 text-center text-md-left text-lg-center">
                                                <h3 class="font-weight__500">
                          Lorem ipsum
                        </h3>
                                                <p>
                                                    In maximus libero sed leo vulputate pretium. In sit amet nisi ligula
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 col-lg-4">
                                <div class="feature-grid box box-shadow box-shadow__hover bg-light-primary row">
                                    <div class="mt-auto col">
                                        <div class="row align-items-center">
                                            <div class="col-12 col-md-4 col-lg-12">
                                                <img src="assets/images/#" alt="product image" class="img-fluid">
                                                <!-- Enpty Space -->
                                                <div class="md-space"></div>
                                                <!--/ End Empty Space -->
                                            </div>
                                            <div class="col-12 col-md-8 col-lg-12 text-center text-md-left text-lg-center">
                                                <h3 class="font-weight__500">
                          Lorem ipsum
                        </h3>
                                                <p>
                                                    In maximus libero sed leo vulputate pretium. In sit amet nisi ligula
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Features Grid -->

        <!-- Pricing -->

        <!--/ End Pricing -->

        <!-- Feature begin -->
        <section class="section features">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 mx-auto">
                        <div class="row align-items-center">
                            <div class="col-md-6 mr-md-auto">
                                <h2 class="lg-font-size font-weight__500">
                  Lorem ipsum efficitur sed erat
                </h2>
                                <!-- Empty Space -->
                                <div class="sm-space"></div>
                                <!--/ End Empty Space -->
                                <p class="lead base-plus-font-size text-dark-gray mb-0">
                                    Praesent mollis, massa in auctor molestie, magna lorem semper mauris a venenatis turpis.
                                </p>
                                <!-- Empty Space -->
                                <div class="pt-1"></div>
                                <!--/ End Empty Space -->
                                <a class="text-black" href="#">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                            <div class="col-md-5 col-xs-12 justify-content-center">
                              <%= image_tag("community.svg", :class => "img-fluid", height: 350 ) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="divider-wrap">
            <div class="container">
                <div class="divider divider__solid border-color-light-gray"></div>
            </div>
        </div>

        <section class="section features">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 mx-auto">
                        <div class="row align-items-center">
                          <div class="col-md-5 col-xs-12 justify-content-center">
                              <%= image_tag("mindfulness.svg", :class => "img-fluid", height: 350 ) %>
                          </div>
                            <div class="col-md-6 ml-md-auto order-md-2">
                                <h2 class="lg-font-size font-weight__500">
                                  Lorem ipsum efficitur sed erat
                                </h2>
                                <!-- Empty Space -->
                                <div class="sm-space"></div>
                                <!--/ End Empty Space -->
                                <p class="lead base-plus-font-size text-dark-gray mb-0">
                                    Praesent mollis, massa in auctor molestie, magna lorem semper mauris a venenatis turpis.
                                </p>
                                <!-- Empty Space -->
                                <div class="pt-1"></div>
                                <!--/ End Empty Space -->
                                <a class="text-black" href="#">Know More <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="divider-wrap">
            <div class="container">
                <div class="divider divider__solid border-color-light-gray"></div>
            </div>
        </div>

        <section class="section features">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 mx-auto">
                        <div class="row align-items-center">
                            <div class="col-md-6 mr-md-auto">
                                <h2 class="lg-font-size font-weight__500">
                  Lorem ipsum efficitur sed erat
                </h2>
                                <!-- Empty Space -->
                                <div class="sm-space"></div>
                                <!--/ End Empty Space -->
                                <p class="lead base-plus-font-size text-dark-gray mb-0">
                                    Praesent mollis, massa in auctor molestie, magna lorem semper mauris a venenatis turpis.
                                </p>
                                <!-- Empty Space -->
                                <div class="pt-1"></div>
                                <!--/ End Empty Space -->
                                <a class="text-black" href="#">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                            <div class="col-md-5 col-xs-12 justify-content-center">
                                <%= image_tag("team.svg", :class => "img-fluid", height: 350 ) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>
        <!--/ Feature end -->

