<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="title">
        <h1>Bonjour <%= current_user.firstname %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="index-search-bar">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-search">
              <span class="icon"><i class="fa fa-search"></i></span>
              <%= form_tag(questions_path, method: :get) do %>
                <%= text_field_tag :query, params[:query], class: 'form-control typeahead', id: "question_search", placeholder:"Pose ta question" %>
                <%= submit_tag 'Shine' , class: 'search-btn shake-slow'  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="intro">
      <h3>Questions fréquentes sur le diabète de type 1</h3>
      <p>Tourne la carte pour découvrir la réponse</p>
    </div>

    <div class="flip-results">

      <% @questions.each do |question| %>
        <div class="col-xs-4">
          <div class='flip-content'>
            <div class='flip_box'>

              <div class='front'>
                <div class="header-flip-card">
                  <h4 class='flip-title'><%= question.title.first(30) %>...</h4>
                  <div class="picture-name">
                    <%= cl_image_tag question.user.photo, height: 50, width: 50, crop: :fill, class: "avatar-flip-card" %>
                    <p><%= question.user.firstname %></p>
                  </div>
                </div>
                <div class="middle-flip-card">
                  <p class='flip-headline'>QUESTION</p>
                  <h4 class='flip-subline'><%= question.body.first(100) %>...</h4>
                  <p class='flip-date'>Le <%= question.created_at.strftime("%d/%m/%Y")%></p>
                </div>
                <div class="footer-flip-card">
                  <p class='footer-flip-link'>Voir la réponse</p>
                </div>
              </div>

              <div class='back'>
                <div class="header-flip-card">
                  <h4 class='flip-title'>Meilleure réponse</h4>
                  <div class="picture-name">
                    <% top_answer = question.answers.sort_by do |answer| %>
                      <% -answer.get_upvotes.size %>
                    <% end %>
                    <% if top_answer.blank? %>
                    <% else %>
                      <%= cl_image_tag top_answer.first.user.photo, height: 50, width: 50, crop: :fill, class: "avatar-flip-card" %>
                      <p><%= top_answer.first.user.firstname %></p>
                    <% end %>
                  </div>
                </div>

                <div class="middle-flip-card">
                  <p class='flip-headline'>REPONSE</p>
                  <% top_answer = question.answers.sort_by do |answer| %>
                    <% -answer.get_upvotes.size %>
                  <% end %>
                  <% if top_answer.blank? %>
                  <% else %>
                    <h4 class='flip-subline'><%= top_answer.first.body.first(100) %>...</h4>
                    <p class='flip-date'>Le <%= top_answer.first.created_at.strftime("%d/%m/%Y")%></p>
                  <% end %>
                </div>

                <div class="footer-flip-card">
                  <p class='flip-subline'>
                  <%= link_to question_path(question) do %>
                  <button class='b_button'><span>Voir plus</span></button>
                <% end %>
                </div>

              </div>

            </div>

            <div class='r_wrap'>
              <div class='b_round'></div>
              <div class='s_round'>
                <div class='s_arrow'></div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
