<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="title">
        <h1>Hello</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="index-search-bar">
        <h3>Recherche ta question</h3>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-search">
              <span class="icon"><i class="fa fa-search"></i></span>
              <%= form_tag(questions_path, method: :get) do %>
                <%= text_field_tag :query, params[:query], id:"search", placeholder: "Recherche..."%>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="flip-results">
      <% @questions.each do |question| %>
        <div class="col-xs-4">
          <div class='flip-content'>
            <div class='flip_box'>
              <div class='front'>
                <h4 class='f_title'><%= question.title %></h4>
                <p class='f_subline'><%= question.body.first(200) %>...</p>
                <p class='f_headline'></p>
              </div>

              <div class='back'>
                <h4 class='b_headline'>Meilleure réponse</h4>
                <p class='b_text'>
                  <% top_answer = question.answers.sort_by do |answer| %>
                    <% -answer.upvotes %>
                  <% end %>
                   <%= top_answer.first.body %></p>
                <button class='b_button'><span>Plus</span></button>
              </div>

            </div>

            <div class='r_wrap'>

              <div class='b_round'></div>
              <div class='s_round'>
                <div class='s_arrow'></div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
