<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shinier</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'logo-shinier.png' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta id="og:type" property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <% if request.url.include?("questions") %>
      <meta property="og:title" content="<%= @question.title %>">
      <meta property="og:description" content="<%= @question.body %>">
      <meta property="og:image" content='<%= cl_image_path @question.user.photo %>'>
      <meta property="article:published_time" content="<%= @question.created_at %>">
      <meta property="article:section" content="<%= @question.tags&.first&.name %>">
    <% else %>
      <meta id="og:title" property="og:title" content="<%= meta_title %>" />
      <meta id="og:image" property="og:image" content="<%= meta_image %>" />
      <meta id="og:description" property="og:description" content="<%= meta_description %>" />
    <% end %>


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <% style = "background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.1) 80%), url(#{asset_path('shinier-background.png')}); opacity: 0.8;" %>
    <div class="content-min-height" style="<%= params[:controller] == "questions" && params[:action] == "show" ? style : "" %>">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
